{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="width: 200px; text-align: center; horiz-align: center">
                {{ form.as_table }}
                <td colspan="2" >
                    <button type="submit" class="btn btn-primary">Внести</button>
                </td>
            </table>

        </form>
    {% endblock %}
</body>
</html>